<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.gf.holiday.dao.AnnualDAO">
	<select id="annualList" resultType="annual">
	 	SELECT e.emp_no, bb.b_idx, bb.b_name, e.name, e.position, e.join_year, DATEDIFF(CURRENT_TIMESTAMP(), e.join_year) AS work_year, a.annualAdd, b.annualSub
		FROM emp e natural join branch bb
		LEFT JOIN (
		  SELECT emp_no, SUM(annual_time) AS annualAdd
		  FROM annual
		  WHERE YEAR(annual_date) = YEAR(CURDATE()) and annual_modifier = 1
		  GROUP BY emp_no
		) a ON e.emp_no = a.emp_no
		LEFT JOIN (
		  SELECT emp_no, SUM(annual_time) AS annualSub
		  FROM annual
		  WHERE YEAR(annual_date) = YEAR(CURDATE()) and annual_modifier = 2
		  GROUP BY emp_no
		) b ON e.emp_no = b.emp_no order by e.emp_no desc
	</select>
	
	<select id="annualList2" resultType="annual">
	 	SELECT e.emp_no, bb.b_idx, bb.b_name, e.name, e.position, e.join_year, DATEDIFF(CURRENT_TIMESTAMP(), e.join_year) AS work_year, a.annualAdd, b.annualSub
		FROM emp e natural join branch bb
		LEFT JOIN (
		  SELECT emp_no, SUM(annual_time) AS annualAdd
		  FROM annual
		  WHERE YEAR(annual_date) = YEAR(CURDATE()) and annual_modifier = 1
		  GROUP BY emp_no
		) a ON e.emp_no = a.emp_no
		LEFT JOIN (
		  SELECT emp_no, SUM(annual_time) AS annualSub
		  FROM annual
		  WHERE YEAR(annual_date) = YEAR(CURDATE()) and annual_modifier = 2
		  GROUP BY emp_no
		) b ON e.emp_no = b.emp_no
		<if test = "filter_work_year == 1">
			where 365 > DATEDIFF(CURRENT_TIMESTAMP(), e.join_year) and b_idx = #{param5}
		</if>
		<if test = "filter_work_year == 2">
			where DATEDIFF(CURRENT_TIMESTAMP(), e.join_year) >= 365 and b_idx = #{param5}
		</if>
		<if test = "filter_work_year == 3">
			where b_idx = #{param5}
		</if>
		order by e.emp_no ${param4} limit #{param2} offset #{param3}
	</select>
	
	<select id="annualTotalCount">
		SELECT count(*)
		FROM emp e natural join branch b
		LEFT JOIN (
		  SELECT emp_no, SUM(annual_time) AS annualAdd
		  FROM annual
		  WHERE YEAR(annual_date) = YEAR(CURDATE()) and annual_modifier = 1
		  GROUP BY emp_no
		) a ON e.emp_no = a.emp_no
		LEFT JOIN (
		  SELECT emp_no, SUM(annual_time) AS annualSub
		  FROM annual
		  WHERE YEAR(annual_date) = YEAR(CURDATE()) and annual_modifier = 2
		  GROUP BY emp_no
		) b ON e.emp_no = b.emp_no
		<if test = "filter_work_year == 1">
			where 365 > DATEDIFF(CURRENT_TIMESTAMP(), e.join_year) and b_idx = #{param2}
		</if>
		<if test = "filter_work_year == 2">
			where DATEDIFF(CURRENT_TIMESTAMP(), e.join_year) >= 365 and b_idx = #{param2}
		</if>
		<if test = "filter_work_year == 3">
			where b_idx = #{param2}
		</if>
		order by e.emp_no desc
	</select>
	
	<select id="annualDetail" resultType="HashMap">
		select sum(case when annual_modifier = 1 then annual_time end) as annual_add, 
			sum(case when annual_modifier = 2 then annual_time end) as annual_sub
		from annual where emp_no = #{param1} and annual_kind = #{param2}
	</select>
	
	<select id="annualDetailList" resultType="annual2">
		select * from annual where emp_no = #{param1} and annual_kind = #{param2}
	</select>
	
	<insert id="annualAdd" parameterType="annual">
		insert into annual(emp_no, annual_modifier, annual_kind, annual_time)
			values(#{param1}, 1, #{param2}, #{param3})
	</insert>
	
	<insert id="annualSub" parameterType="annual">
		insert into annual(emp_no, annual_modifier, annual_kind, annual_time)
			values(#{param1}, 2, #{param2}, #{param3})
	</insert>
</mapper>