<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <mapper namespace="kr.co.gf.approval.dao.ApprovalDAO">
   
   <select id="loginIdName" resultType="String">
   		select name from emp where emp_no = #{loginId}
   </select>
   
   <select id="manager" resultType="String">
   		select name from emp where position = '지점장';
   </select>
   
   <select id="top_manager" resultType="String">
   		select name from emp where position = '대표';
   </select>
   
   <select id="position">
   		select position from emp where emp_no = #{loginId}
   </select>
   
   <select id="approvalAllList" resultType="ApprovalDTO">
   		select a_idx, approval, subject, write_date, state from payment p where emp_no = #{loginId}
   </select>
   
   <select id="approvalSaveList" resultType="ApprovalDTO">
   		select a_idx, approval, subject, write_date, state from payment p where emp_no = #{loginId} and state = '임시저장'
   </select>
   
   <insert 
   		useGeneratedKeys="true"
      	keyColumn="a_idx"
      	keyProperty="board_num"
   		id="eventRequestWrite">
   		
		insert into payment (emp_no, approval, subject, state, manager, top_manager)values(${emp_no},#{approval},#{subject},#{state},#{manager},#{top_manager})
   </insert>
   
   <insert id="eventRequestWriteDown">
   		insert into payment2 (a_idx, start_day, finish_day, reason, etc) values(#{a_idx},#{start_day},#{finish_day},#{reason},#{etc});
   </insert>
   
   <insert id="approvalFileWrite" >
   		insert into wphoto (c_idx,new_photo_name,ori_photo_name,board_num) 
   		values(#{c_idx},#{new_photo_name},#{ori_photo_name},#{board_num})
   </insert>
   
   <insert 
   		useGeneratedKeys="true"
      	keyColumn="a_idx"
      	keyProperty="board_num"
   		id="ExpenseReportW">
   		
		insert into payment (emp_no, approval, subject,  state, manager, top_manager)values(${emp_no},#{approval},#{subject},#{state},#{manager},#{top_manager})
   </insert>
   
   <insert id="expenseReportWDown">
   		insert into expense_report (briefs,price,note,a_idx) 
   		values(#{briefs},#{price},#{note},#{a_idx})
   </insert>
   
   <select id="eventDetail" >
   
	  	select e.name, p.write_date,p.manager,p.top_manager,p2.start_day,p2.finish_day,p2.reason,p2.etc, w.new_photo_name,w.ori_photo_name from payment p 
			left join payment2 p2 
			on p.a_idx = p2.a_idx
			left join emp e 
			on p.emp_no = e.emp_no
			left join wphoto w 
			on w.c_idx = 7
		where p.a_idx = #{a_idx} and p.approval = #{approval};
   
   </select>
   
   <select id="expenseReportDetail">
   		select e.name, p.write_date,p.manager,p.top_manager,w.new_photo_name,w.ori_photo_name from payment p 
			left join emp e 
			on p.emp_no = e.emp_no
			left join wphoto w 
			on w.c_idx = 7
		where p.a_idx = #{a_idx} and p.approval = #{approval}
   </select>
   
   <select id="expenseR" resultType="ApprovalDTO">
   		select * from expense_report er where er.a_idx = #{a_idx}
   </select>
   
   <select id="approvalStayList">
   		select e.name,p.emp_no ,p.approval,p.subject,p.write_date,p.state from payment p 
			left join emp e 
			ON p.emp_no = e.emp_no
		where state = '대기';
   </select>
   
   </mapper>