<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <mapper namespace="kr.co.gf.approval.dao.ApprovalDAO">
   
   <select id="loginIdName" resultType="String">
   		select name from emp where emp_no = #{loginId}
   </select>
   
   <select id="manager" resultType="String">
   		select name from emp where position = '지점장';
   </select>
   
   <select id="top_manager" resultType="String">
   		select name from emp where position = '대표';
   </select>
   
   <select id="position">
   		select position from emp where emp_no = #{loginId}
   </select>
   
   <select id="approvalAllList" resultType="ApprovalDTO">
   		select a_idx, approval, subject, write_date, state from payment p where emp_no = #{loginId} and(state = '승인' or state = '대기' or state = '예정')
   </select>
   
   <select id="approvalSaveList" resultType="ApprovalDTO">
   		select a_idx, approval, subject, write_date, state from payment p where emp_no = #{loginId} and state = '임시저장'
   </select>
   
   <insert 
   		useGeneratedKeys="true"
      	keyColumn="a_idx"
      	keyProperty="board_num"
   		id="vacationRequestWrite">
   		
		insert into payment (emp_no, approval, subject, state, manager, top_manager)values(${emp_no},#{approval},#{subject},#{state},#{manager},#{top_manager})
   </insert>
   
      <insert 
   		useGeneratedKeys="true"
      	keyColumn="a_idx"
      	keyProperty="board_num"
   		id="eventRequestWrite">
   		
		insert into payment (emp_no, approval, subject, state, manager, top_manager)values(${emp_no},#{approval},#{subject},#{state},#{manager},#{top_manager})
   </insert>
   
      <insert 
   		useGeneratedKeys="true"
      	keyColumn="a_idx"
      	keyProperty="board_num"
   		id="ExpenseReportW">
   		
		insert into payment (emp_no, approval, subject,  state, manager, top_manager)values(${emp_no},#{approval},#{subject},#{state},#{manager},#{top_manager})
   </insert>
   
   <insert id="vacationRequestWriteDown">
   		insert into payment2 (a_idx, start_day, finish_day, reason, etc) values(#{a_idx},#{start_day},#{finish_day},#{reason},#{etc});
   </insert>
   
   <insert id="eventRequestWriteDown">
   		insert into payment2 (a_idx, start_day, finish_day, reason, etc) values(#{a_idx},#{start_day},#{finish_day},#{reason},#{etc});
   </insert>
   
   <insert id="approvalFileWrite" >
   		insert into wphoto (c_idx,new_photo_name,ori_photo_name,board_num) 
   		values(#{c_idx},#{new_photo_name},#{ori_photo_name},#{a_idx})
   </insert>
   

   
   <select id="eventDetail" resultType="ApprovalDTO">
	  	select p.subject, p.emp_no, p.a_idx, p.approval, e.position, e.name, p.write_date,p.manager, p.top_manager, p.state, p2.start_day, p2.finish_day, p2.reason, p2.etc from payment p
			left join payment2 p2 
			on p.a_idx = p2.a_idx 
			left join emp e 
			on p.emp_no = e.emp_no
		where p.a_idx = #{a_idx} and p.approval = #{approval};
   </select>
   
   <select id="expenseDetail" resultType="ApprovalDTO">
		select p.emp_no, p.a_idx, p.approval, e.position, e.name, p.write_date,p.manager, p.top_manager, p.state from payment p
			left join emp e 
			on p.emp_no = e.emp_no
		where p.a_idx = #{a_idx} and p.approval = #{approval};
   </select>
   
    <insert id="expenseReportWDown">
 		insert into expense_report (briefs,price,note,a_idx) 
 		values(#{briefs},#{price},#{note},#{a_idx})
   </insert>
   
   <select id="expenseReportDetail" resultType="ApprovalDTO">
   		select p.a_idx, p.approval, e.position, e.name, p.write_date,p.manager, p.top_manager  from payment p 
			left join emp e 
			on p.emp_no = e.emp_no
		where p.a_idx = #{a_idx} and p.approval = #{approval}
   </select>
   
   <select id="expenseR" resultType="ApprovalDTO">
   		select * from expense_report er where er.a_idx = #{a_idx}
   </select>
   
   <select id="approvalStayList" resultType="ApprovalDTO">
   		select p.a_idx, e.name,p.emp_no ,p.approval,p.subject,p.write_date,p.state from payment p 
			left join emp e 
			ON p.emp_no = e.emp_no
		where state = '대기';
   </select>
   
   <select id="approvalExpectedList" resultType="ApprovalDTO">
   		select p.a_idx, e.name,p.emp_no ,p.approval,p.subject,p.write_date,p.state from payment p 
			left join emp e 
			ON p.emp_no = e.emp_no
		where state = '예정';
   </select>
   
   <update id="stayAccept">
   		update payment p set state = '예정' where p.a_idx = ${a_idx} and p.approval = #{approval}
   </update>
   
   <update id="expectedAccept">
   		update payment p set state = '승인' where p.a_idx = ${a_idx} and p.approval = #{approval}
   </update>
   
   <select id="detailFiles" resultType="ApprovalDTO">
   		select  p_idx, c_idx, new_photo_name, ori_photo_name, board_num From wphoto w where board_num = #{a_idx} and c_idx = 7;
   </select>
   
<!-- 	<update id="eventUpdateUp">
		UPDATE payment  
		<set>
			<if test="!emp_no.equals('')">emp_no = #{emp_no},</if>
			<if test="!approval.equals('')">approval =#{approval}, </if>
			<if test="!write_date.equals('')">write_date=#{write_date}, </if>
			<if test="!subject.equals('')">subject=#{subject}, </if>
			<if test="!manager.equals('')">manager=#{manager} </if>
			<if test="!top_manager.equals('')">top_manager=#{top_manager} </if>		
		</set> 
		WHERE a_idx=#{a_idx} and approval=#{approval}
	</update> -->
	
<!-- 	<update id="eventUpdateDown">
		UPDATE payment2  
		<set>
			<if test="!start_day.equals('')">start_day = #{start_day},</if>
			<if test="!finish_day.equals('')">finish_day =#{finish_day}, </if>
			<if test="!reason.equals('')">reason=#{reason}, </if>
			<if test="!etc.equals('')">etc=#{etc} </if>
		</set> 
		WHERE a_idx=#{a_idx}
	</update> --> 
	
	   <update id="eventUpdateUp">
   		update payment set 

			subject = #{subject}

			WHERE a_idx = #{a_idx} and approval=#{approval}
   </update>
	
	<update id="eventUpdateDown">
   		update payment2 set 
   			start_day = #{start_day}
			,finish_day = #{finish_day}
			,reason = #{reason}
			,etc = #{etc}
			WHERE a_idx = #{a_idx}
   </update>
   
   <select id="StayList" resultType="ApprovalDTO">
   		select p.a_idx, e.name,p.emp_no ,p.approval,p.subject,p.write_date,p.state from payment p 
			left join emp e 
			ON p.emp_no = e.emp_no
		where state = '대기';
   </select>
	
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   </mapper>