<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
   <mapper namespace="kr.co.gf.commute.dao.CommuteDAO">
   
   <select id="list" resultType="kr.co.gf.commute.dto.CommuteDTO">
   	SELECT * FROM working WHERE emp_no=#{emp_no}
   </select>
   
<!--    <select id="selectAll" resultType="kr.co.gf.commute.dto.CommuteDTO">
   	SELECT come_time, out_time FROM working WHERE emp_no=#{emp_no} AND work_date=#{previousDay}
   </select> -->
             
   <select id="count" resultType="int">
   	SELECT count(come_time) FROM working WHERE emp_no=#{emp_no} AND work_date=#{now}
   </select>
   
   <insert id="comedo"> 
	INSERT INTO working(emp_no, b_idx) VALUES(#{emp_no},#{b_idx})
	</insert>
	
	<select id="selectAll" resultType="kr.co.gf.commute.dto.CommuteDTO">
	SELECT come_time, out_time FROM working WHERE emp_no=#{emp_no} AND work_date=#{now} 
	</select>
	
	<update id="outdo">
	UPDATE working SET out_time=#{now2},w_type='계산' WHERE emp_no=#{emp_no} AND work_date=#{day} 
	</update>
	
	<select id="wtime">
	SELECT come_time, out_time, FORMAT((TIME_TO_SEC(out_time) - TIME_TO_SEC(come_time)) / 3600, 1) AS w_time FROM working WHERE emp_no=#{emp_no} AND work_date=#{day}   
  	</select>
  
  	<select id="seltype" resultType="String">
  	SELECT gtwork FROM commute WHERE emp_no=#{emp_no}
  	</select>
  	
  	<select id="workdate" resultType="String">
  	SELECT DAYNAME(work_date) AS day FROM working WHERE emp_no=#{emp_no} AND w_type='계산'
  	</select>
  	
  	<!-- <select id="selday" resultType="int">
  	SELECT dayofweek(#{date}) AS day FROM working WHERE emp_no=#{emp_no} AND w_type='계산'
  	</select> -->
  	
  	<update id="wtype">
  	UPDATE working SET w_type=#{flag} WHERE emp_no=#{emp_no} AND work_date=#{now}
  	</update>
  	
  	<update id="wtypes">
  	UPDATE working SET w_type=#{flags}
  	WHERE emp_no=#{emp_no} AND work_date=#{now}
  	</update>
  	
  	<insert id="cwrite">
  	INSERT INTO cRequest(emp_no, comment, title, r_date, r_time, com_category) 
  	VALUES(#{emp_no},#{comment},#{title},#{r_date},#{r_time},#{com_category})
  	</insert>
  	
  	<select id="alllist" resultType="kr.co.gf.commute.dto.CommuteDTO">
  	SELECT *FROM working 
  	</select>
  	
   	<select id="rlist" resultType="kr.co.gf.commute.dto.CommuteDTO">
    SELECT c.r_idx, c.reg_date, c.title, c.com_category, c.status, e.emp_no, e.name, e.position, w.w_type
	FROM cRequest c 
	JOIN working w ON c.r_date = w.work_date AND w.emp_no = c.emp_no
	join emp e on e.emp_no = w.emp_no
	WHERE c.status = '대기' AND e.b_idx = #{param1} ORDER BY r_idx DESC
   	</select>
   
   	<select id="rdetail" resultType="commute" parameterType="String">
   	select c.*, w.come_time, w.out_time, w.w_type
	, e.name, e.`position` 
	from crequest c  
	join working w on c.emp_no = w.emp_no and c.r_date = w.work_date 
	join emp e on e.emp_no = w.emp_no 
	where e.b_idx = #{b_idx}  and c.r_idx = #{r_idx};
   	</select>
   	
   	<update id="upStatus">
   	UPDATE cRequest SET status=#{param2}, opinion=#{param3} WHERE r_idx=#{param1}
   	</update>
   	
   	<update id="upWorking">
   	UPDATE working SET come_time=#{param1} WHERE work_date=#{r_date} AND emp_no=#{emp_no}
   	</update>
   	
   	<update id="upOuttime">
   	UPDATE working SET out_time=#{param1} WHERE work_date=#{r_date} AND emp_no=#{emp_no}
   	</update>
   	
   	<select id="confirmlist">
   	SELECT c.r_idx, c.reg_date, c.com_category, c.status, e.name, e.position FROM cRequest c 
   	JOIN emp e
   	on c.emp_no = e.emp_no
   	WHERE c.status='승인' or c.status='반려' ORDER BY r_idx DESC
   	</select>
   	
   	<select id="workingList" parameterType="hashmap" resultType="commute">
   		SELECT emp_no,b_idx,come_time,out_time,work_date,w_type,SEC_TO_TIME(TIME_TO_SEC(out_time) - TIME_TO_SEC(come_time)) AS time_difference FROM working WHERE emp_no=#{emp_no} AND DATE_FORMAT(work_date, '%Y-%m') =#{year}
   	</select>
   	
   	<select id="come_time" resultType="String">
   		SELECT come_time FROM working WHERE emp_no=#{emp_no} AND DATE_FORMAT(work_date, '%Y-%m') =#{year}s
	</select>
   	<select id="w_type">
   		SELECT w_type FROM working WHERE b_idx = #{param2} AND emp_no = #{param1}
   	</select>
   	
   	<select id="emp_name_list" resultType="String">
   		SELECT name FROM emp WHERE b_idx = #{param1}
   	</select>
   	
   	<select id="s_emp_no" resultType="String">
   		SELECT emp_no FROM emp WHERE name = #{param1} AND b_idx = #{param2}
   	</select>
  </mapper>
