<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
   <mapper namespace="kr.co.gf.commute.dao.CommuteDAO">
   
   <select id="list" resultType="kr.co.gf.commute.dto.CommuteDTO">
   	SELECT *FROM working WHERE emp_no=#{emp_no}
   </select>
   
<!--    <select id="selectAll" resultType="kr.co.gf.commute.dto.CommuteDTO">
   	SELECT come_time, out_time FROM working WHERE emp_no=#{emp_no} AND work_date=#{previousDay}
   </select> -->
   
   <select id="count" resultType="int">
   	SELECT count(come_time) FROM working WHERE emp_no=#{emp_no} AND work_date=#{now}
   </select>
   
   <insert id="comedo"> 
	INSERT INTO working(emp_no, b_idx) VALUES(#{emp_no},#{b_idx})
	</insert>
	
	<select id="selectAll" resultType="kr.co.gf.commute.dto.CommuteDTO">
	SELECT come_time, out_time FROM working WHERE emp_no=#{emp_no} AND work_date=#{now} 
	</select>
	
	<update id="outdo">
	UPDATE working SET out_time=#{now2},w_type='계산' WHERE emp_no=#{emp_no} AND work_date=#{day} 
	</update>
	
	<select id="wtime">
	SELECT come_time, out_time, FORMAT((TIME_TO_SEC(out_time) - TIME_TO_SEC(come_time)) / 3600, 1) AS w_time FROM working WHERE emp_no=#{emp_no} AND work_date=#{day}   
  	</select>
  
  	<select id="seltype" resultType="String">
  	SELECT gtwork FROM commute WHERE emp_no=#{emp_no}
  	</select>
  	
  	<select id="workdate" resultType="String">
  	SELECT DAYNAME(work_date) AS day FROM working WHERE emp_no=#{emp_no} AND w_type='계산'
  	</select>
  	
  	<!-- <select id="selday" resultType="int">
  	SELECT dayofweek(#{date}) AS day FROM working WHERE emp_no=#{emp_no} AND w_type='계산'
  	</select> -->
  	
  	<update id="wtype">
  	UPDATE working SET w_type=#{flag} WHERE emp_no=#{emp_no} AND work_date=#{now}
  	</update>
  	
  	<update id="wtypes">
  	UPDATE working SET w_type=#{flags}
  	WHERE emp_no=#{emp_no} AND work_date=#{now}
  	</update>
  	
  	<insert id="cwrite">
  	INSERT INTO cRequest(emp_no, comment, title, r_date, r_time, com_category) 
  	VALUES(#{emp_no},#{comment},#{title},#{r_date},#{r_time},#{com_category})
  	</insert>
  	
  	<select id="alllist" resultType="kr.co.gf.commute.dto.CommuteDTO">
  	SELECT *FROM working 
  	</select>
  	
   	<select id="rlist" resultType="kr.co.gf.commute.dto.CommuteDTO">
    SELECT c.r_idx, c.reg_date, c.title, c.com_category, c.status, e.emp_no, e.name, e.position, w.w_type
	FROM cRequest c 
	JOIN working w ON c.r_date = w.work_date AND w.emp_no = c.emp_no
	join emp e on e.emp_no = w.emp_no
	WHERE c.status = '대기' AND e.b_idx = #{param1}; 
   	</select>
   
   	<select id="rdetail" resultType="hashmap">
   	SELECT w.come_time, w.out_time, w.w_type FROM working w
    INNER JOIN cRequest c ON w.work_date = c.r_date
    INNER JOIN emp e ON e.emp_no = w.emp_no
	WHERE
    c.r_idx = #{r_idx}
   	</select>
   </mapper>