<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="kr.co.gf.emp.dao.EmpDAO">
   
	<insert id="tempJoin" parameterType="emp">
		insert into emp(emp_no, pw, name, email, phone, b_idx, position)
		values(#{emp_no},#{pw},#{name},#{email}, #{phone}, 1, #{position})
	</insert>
	
	<!-- 직원리스트 검색 -->
	<select id="emp_listDo" resultType="emp" 
		parameterType="hashmap">
		SELECT * FROM emp e   
		LEFT JOIN branch b on e.b_idx = b.b_idx
		<where> 
			<if test="keyword != null and !keyword.equals('') and opt == 'name'">
				e.name LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test="keyword != null and !keyword.equals('') and opt == 'b_name'">
				b.b_name LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test="keyword != null and !keyword.equals('') and opt == 'position'">
				e.position LIKE CONCAT('%',#{keyword},'%')
			</if>
			AND is_delete=0;					
		</where>
	</select>
	
	<!-- 대표지점리스트 검색 -->
	<select id="empRep_listDo" resultType="emp" parameterType="hashmap">
	  SELECT * FROM emp e 
	  LEFT JOIN branch b on e.b_idx = b.b_idx
	  <where>
	    <if test="opt != null and opt != ''">
	      AND b.b_name = #{opt}
	    </if>
	    <!-- <if test="opt == '방배'">
	      AND b.b_name = '방배'
	    </if>
	    <if test="opt == '역삼'">
	      AND b.b_name = '역삼'
	    </if>
	    <if test="opt == '논현'">
	      AND b.b_name = '논현'
	    </if> -->
	    AND is_delete = 0
	  </where>
	</select>
	
	<!-- 대표퇴사리스트 검색 -->
	<select id="empRep_retireListDo" resultType="emp" parameterType="emp">
		SELECT e.emp_no
			  ,e.name
			  ,b.b_name 
			  ,e.position
			  ,e.retire_year
		FROM emp e
		LEFT JOIN branch b on e.b_idx = b.b_idx
		<where> 
			<if test="keyword != null and !keyword.equals('') and opt == 'name'">
				e.name LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test="keyword != null and !keyword.equals('') and opt == 'b_name'">
				b.b_name LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test="keyword != null and !keyword.equals('') and opt == 'position'">
				e.position LIKE CONCAT('%',#{keyword},'%')
			</if>
			AND is_delete=0
			AND status = '퇴직';
		</where>
	</select>
	
	<select id="emp_list" resultType="emp" parameterType="emp">
		SELECT e.emp_no
			  ,e.name
			  ,b.b_name 
			  ,e.position
			  ,e.status
			  ,e.join_year
		FROM emp e
		LEFT JOIN branch b on e.b_idx = b.b_idx
		<where>
		AND is_delete=0;
		</where>
	</select>
	
	<select id="emp_retirelist" resultType="emp" parameterType="emp">
		SELECT e.emp_no
			  ,e.name
			  ,b.b_name 
			  ,e.position
			  ,e.retire_year
		FROM emp e
		LEFT JOIN branch b on e.b_idx = b.b_idx
		<where>
		AND status = '퇴직';
		</where>
	</select>

   <insert id="emp_join" parameterType="emp">
		insert into emp(emp_no, pw, name, gender, birth, phone, email, position, status, join_year, b_idx)
		values(#{emp_no},#{pw},#{name},#{gender}, #{birth},
		#{phone},#{email},#{position},#{status},#{join_year},#{b_idx})
	</insert>
	
	<select id="getEmpNo" resultType="String">
      SELECT CASE WHEN DATE_FORMAT(SYSDATE(), '%y%m') = SUBSTRING(MAX(EMP_NO), 1, 4)
               THEN CONVERT(MAX(EMP_NO) + 1, CHAR)
               ELSE CONCAT(DATE_FORMAT(SYSDATE(), '%y%m'), '001')
            END AS EMP_NO
        FROM EMP
   </select>
	
	
	<insert id="emp_fileWrite">
		insert into wphoto(c_idx,new_photo_name,ori_photo_name,board_num)
		values(#{c_idx}, #{new_photo_name},#{ori_photo_name},#{emp_no})
	</insert>
	
	<select id="emp_detail" resultType="emp">
		SELECT * FROM emp e
		LEFT JOIN wphoto w ON w.board_num = e.emp_no
		LEFT JOIN branch b ON e.b_idx = b.b_idx
		WHERE emp_no = #{param1}
	</select>
	
	<select id="emp_photo" resultType="String">
		SELECT new_photo_name FROM wphoto WHERE board_num = #{param1} AND c_idx = 1
	</select>
	
	<update id="emp_update" parameterType="hashmap">
		UPDATE emp SET 
			  name = #{name}
			, gender = #{gender}
			, birth = #{birth}
			, phone = #{phone}
			, email = #{email}
			, position = #{position}
			, status = #{status}
		<if test="newPw != null and newPw != ''">
			 , pw = #{newPw}
		</if>
		<if test="retire_year != null and retire_year != ''">
			, retire_year = #{retire_year}
		</if>
		WHERE emp_no = #{emp_no}
	</update>
	
	<delete id="emp_removePhoto" parameterType="String">
		DELETE FROM wphoto WHERE board_num = #{emp_no}
	</delete>
	
	<!-- 상세에서 삭제 -->
	<delete id="emp_delete" parameterType="emp">
		UPDATE emp
			SET is_delete = 1
		WHERE emp_no = #{param1}
	</delete>
	
	<!-- 목록에서 삭제 -->
	<update id="emp_hide" parameterType="hashmap">
      UPDATE emp
         SET is_delete = 1
      WHERE emp_no IN (
      <foreach collection="hideList" item="item" separator=",">
         #{item}
      </foreach>
      )
   </update>
   
	<select id="emp_idChk" resultType="int">
      SELECT COUNT(emp_no) FROM emp WHERE emp_no = #{param1}
    </select>
    
    <select id="emp_position" resultType="String">
    	SELECT position
    	FROM emp
    	WHERE emp_no = #{loginId}
    </select>

</mapper>