<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="kr.co.gf.emp.dao.EmpDAO">
   
	<insert id="tempJoin" parameterType="emp">
		insert into emp(emp_no, pw, name, email, phone, b_idx, position)
		values(#{emp_no},#{pw},#{name},#{email}, #{phone}, 1, #{position})
	</insert>
	
	<!-- 직원리스트 검색 -->
	<select id="emp_listDo" resultType="emp" 
		parameterType="hashmap">
		SELECT * FROM emp e   
		LEFT JOIN branch b on e.b_idx = b.b_idx
		<where> 
			<if test="keyword != null and !keyword.equals('') and opt == 'name'">
				e.name LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test="keyword != null and !keyword.equals('') and opt == 'b_name'">
				b.b_name LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test="keyword != null and !keyword.equals('') and opt == 'position'">
				e.position LIKE CONCAT('%',#{keyword},'%')
			</if>
			AND is_delete=0;					
		</where>
	</select>
	
	<!-- 대표지점리스트 검색 -->
	<select id="empRep_listDo" resultType="emp" parameterType="hashmap">
	  SELECT * FROM emp e 
	  LEFT JOIN branch b on e.b_idx = b.b_idx
	  <where>
	    <if test="opt != null and opt != ''">
	      AND b.b_name = #{opt}
	    </if>
	    <!-- <if test="opt == '방배'">
	      AND b.b_name = '방배'
	    </if>
	    <if test="opt == '역삼'">
	      AND b.b_name = '역삼'
	    </if>
	    <if test="opt == '논현'">
	      AND b.b_name = '논현'
	    </if> -->
	    AND is_delete = 0
	  </where>
	</select>
	
	<!-- 대표퇴사리스트 검색 -->
	<select id="empRep_retireListDo" resultType="emp" parameterType="emp">
		SELECT e.emp_no
			  ,e.name
			  ,b.b_name 
			  ,e.position
			  ,e.retire_year
		FROM emp e
		LEFT JOIN branch b on e.b_idx = b.b_idx
		<where> 
			<if test="keyword != null and !keyword.equals('') and opt == 'name'">
				e.name LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test="keyword != null and !keyword.equals('') and opt == 'b_name'">
				b.b_name LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test="keyword != null and !keyword.equals('') and opt == 'position'">
				e.position LIKE CONCAT('%',#{keyword},'%')
			</if>
			AND is_delete=0
			AND status = '퇴직';
		</where>
	</select>
	
	<select id="emp_list" resultType="emp" parameterType="emp">
		SELECT e.emp_no
			  ,e.name
			  ,b.b_name 
			  ,e.position
			  ,e.status
		FROM emp e
		LEFT JOIN branch b on e.b_idx = b.b_idx
		<where>
		AND is_delete=0;
		</where>
	</select>
	
	<select id="emp_retirelist" resultType="emp" parameterType="emp">
		SELECT e.emp_no
			  ,e.name
			  ,b.b_name 
			  ,e.position
			  ,e.retire_year
		FROM emp e
		LEFT JOIN branch b on e.b_idx = b.b_idx
		<where>
		AND status = '퇴직';
		</where>
	</select>

   <insert id="emp_join" parameterType="emp">
		insert into emp(emp_no, pw, name, gender, birth, phone, email, position, start_conterm, end_conterm, status, join_year, retire_year, b_idx)
		values(#{emp_no},#{pw},#{name},#{gender}, #{birth},
		#{phone},#{email},#{position},#{start_conterm},#{end_conterm},#{status},#{join_year},#{retire_year},#{b_idx})
	</insert>
	
	
	<select id="emp_detail" resultType="emp">
		SELECT * FROM emp WHERE emp_no = #{param1}
	</select>
	
	<update id="emp_update" parameterType="emp">
		UPDATE emp SET 
			  pw = #{pw}
			, name = #{name}
			, gender = #{gender}
			, birth = #{birth}
			, phone = #{phone}
			, email = #{email}
			, position = #{position}
			, start_conterm = #{start_conterm}
			, end_conterm = #{end_conterm}
			, status = #{status}
			, join_year = #{join_year}
		WHERE emp_no = #{emp_no}
	
	</update>
	
	<!-- 상세에서 삭제 -->
	<delete id="emp_delete" parameterType="emp">
		UPDATE emp
			SET is_delete = 1
		WHERE emp_no = #{param1}
	</delete>
	
	<!-- 목록에서 삭제 -->
	<update id="emp_hide" parameterType="hashmap">
      UPDATE emp
         SET is_delete = 1
      WHERE emp_no IN (
      <foreach collection="hideList" item="item" separator=",">
         #{item}
      </foreach>
      )
   </update>

</mapper>