<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <mapper namespace="kr.co.gf.board.dao.MachineDAO">
		<select id="maclist">
			SELECT m.mac_name, m.mac_num, m.emp_no, w.new_photo_name
			FROM machine m JOIN wphoto w ON m.mac_num = w.board_num
			WHERE w.c_idx = '5' AND m.b_idx = #{param1}
		</select>
		
		<select id="Smaclist" resultType="machine">
			SELECT * FROM machine WHERE b_idx = #{param1}
		</select>
		
		<insert id="mac_reg" parameterType="HashMap">
			INSERT INTO machine(emp_no, mac_name, purch_date, b_idx) VALUES(#{emp_no}, #{mac_name}, #{purch_date}, #{b_idx})
  		</insert>
  		
  		<select id="mac_num" resultType="String" parameterType="String">
			SELECT mac_num FROM machine WHERE mac_name = #{mac_name} AND b_idx = #{b_idx}
		</select>
		
		<insert id="mac_photo_reg" parameterType="String">
	   		INSERT INTO wphoto(c_idx, new_photo_name, ori_photo_name, board_num)
	   		VALUES(5, #{new_photo_name}, #{ori_photo_name}, #{mac_num})
   		</insert>
   		
   		<select id="mac_info" resultType="machine">
			SELECT m.mac_num, m.mac_name, m.purch_date, m.emp_no, w.new_photo_name 
			FROM machine m JOIN wphoto w
			ON m.mac_num = w.board_num
			WHERE m.mac_num = #{param1}
		</select>
		
		<delete id="mac_photo_del">
			DELETE FROM wphoto WHERE c_idx = '5' AND board_num = #{param1}
		</delete>
		
		<delete id="macdel" parameterType="String">
			DELETE FROM machine WHERE b_idx = #{b_idx} AND mac_num = #{mac_num}
		</delete>
		
		<select id="mac_new_file_name" resultType="String">
			SELECT new_photo_name FROM wphoto WHERE c_idx = '5' AND board_num = #{param1}
		</select>
		
		<insert id="mac_status" parameterType="String">
			INSERT INTO mac_chk(mac_num, emp_no, mac_status, b_idx)
			VALUES(#{mac_num}, #{emp_no}, #{mac_status}, #{b_idx})
		</insert>
		
		<select id="Fmaclist" resultType="machine">
			SELECT DISTINCT m.mac_name, mc.mac_status
			FROM machine m
			JOIN mac_chk mc ON m.mac_num = mc.mac_num
			WHERE m.b_idx = #{param1} AND mc.mac_status = '수리필요' AND mc.chk_date = #{param2}
		</select>
		
		<insert id="mac_fixed" parameterType="String">
			INSERT INTO fixlist(mac_num, emp_no, fixed_content, b_idx)
			VALUES(#{mac_num}, #{emp_no}, #{fixed_content}, #{b_idx})
		</insert>
		
		<select id="fixedmaclist" resultType="machine">
			SELECT m.mac_name, m.mac_num, f.fixed_date, f.emp_no
			FROM machine m JOIN fixlist f
			ON m.mac_num = f.mac_num 
			WHERE m.b_idx = #{param1}
		</select>
		
		<select id="fix_content" resultType="machine">
			SELECT m.mac_name, m.mac_num, f.fixed_content, w.new_photo_name
			FROM machine m
			JOIN fixlist f ON m.mac_num = f.mac_num
			JOIN wphoto w ON m.mac_num = w.board_num
			WHERE w.c_idx = '5' AND m.mac_num = #{param1}
		</select>
		
		<update id="mac_status_cng" parameterType="String">
			UPDATE mac_chk SET mac_status = #{mac_status} WHERE mac_num = #{mac_num} AND b_idx = #{b_idx}
		</update>
		
		<delete id="delete_fix_mac" parameterType="String">
			DELETE FROM fixlist WHERE mac_num = #{mac_num} AND b_idx = #{b_idx}
		</delete>
   </mapper>