<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <mapper namespace="kr.co.gf.mail.dao.MailDAO">
   
   	<!-- 보낸쪽지 리스트 검색 -->
	<select id="post_sendList" resultType="mail" 
		parameterType="String">
		SELECT * FROM post
		where send_empno = #{send_empno}
	</select>

	<insert id="post_sendWrite" parameterType="mail"
      useGeneratedKeys="true"  
      keyColumn="idx" 
      keyProperty="email_num">
	  insert into post (send_empno, get_empno, subject, content)
	  select #{send_empno}, e.emp_no, #{subject}, #{content}
	  from emp e
	  where e.name = #{get_empno}
	</insert>
	
   
   
   </mapper>