<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <mapper namespace="kr.co.gf.member.dao.MemberDAO">
   
   <select id="memlist" resultType="member">
   		SELECT m.mem_no, m.name, rt.start_date, rt.end_date  
   		FROM member m JOIN registered_ticket rt WHERE m.mem_no = rt.mem_no
   </select>
   	
   <select id="branch" resultType="member">
   		SELECT * FROM branch
   </select>
   
   <select id="ticket" resultType="member">
   		SELECT * FROM ticket WHERE b_idx = #{param1}
   </select>
   
   <select id="emp_name" resultType="String">
   		SELECT name FROM emp WHERE emp_no = #{param1}
   </select>
   
   <insert id="memjoin" parameterType="member"> 
   		INSERT INTO member(name, birth, gender, phone)
   		VALUES(#{name}, #{birth}, #{gender}, #{phone})
   </insert>
   
   <select id="mem_no" resultType="int">
   		SELECT mem_no FROM member WHERE name = #{param1} AND phone = #{param2}
   </select>
   
   <select id="ticket_time" resultType="int">
   		SELECT ticket_time FROM ticket WHERE ticket_name = #{param1} AND b_idx = #{param2}
   </select>
   
    <select id="ticket_no" resultType="String">
   		SELECT ticket_no FROM ticket WHERE ticket_name = #{param1} AND b_idx = #{param2}
   </select>
   
   <select id="cntDate" resultType="int">
   		SELECT TO_DAYS(#{param1})
   </select>
   
   <select id="end_date" resultType="String">
   		SELECT FROM_DAYS(#{param1})
   </select>
   
   <insert id="ticjoin" parameterType="HashMap">
   		INSERT INTO registered_ticket(emp_no, mem_no, ticket_no, b_idx, start_date, end_date)
   		VALUES(#{emp_no}, #{mem_no}, #{ticket_no}, #{b_idx}, #{start_date}, #{end_date})
   </insert>
   
   <select id="b_idx" resultType="String">
   		SELECT b_idx FROM branch WHERE b_name = #{param1}
   </select>
   
   <insert id="ptmemjoin" parameterType="HashMap">
   		INSERT INTO pt_mem(regt_idx, mem_no, weight, goal, str, count)
   		VALUES(#{ticket_no}, #{mem_no}, #{weight}, #{goal}, #{str}, #{ticket_time})
   </insert>
   
   <select id="ticket_type" resultType="String">
   		SELECT ticket_type FROM ticket WHERE ticket_no = #{param1} AND b_idx = #{param2}
   </select>
   
   <delete id="memdelete">
   		DELETE FROM member WHERE mem_no = #{param1}
   </delete>
 	
   <select id="memdetail" resultType="member">
   		SELECT m.mem_no, m.name, m.birth, m.gender, m.phone, rt.start_date, rt.end_date, rt.emp_no, rt.b_idx, rt.ticket_no
   		FROM member m JOIN registered_ticket rt
   		WHERE m.mem_no = rt.mem_no AND m.mem_no = #{param1}
   </select>
   
   <select id="mem_emp_name" resultType="String">
   		SELECT name FROM emp WHERE emp_no = #{param1}
   </select>
   
   <select id="mem_b_name" resultType="String">
   		SELECT b_name FROM branch WHERE b_idx = #{param1}
   </select>
   
   <insert id="memprofile" parameterType="String">
   		INSERT INTO wphoto(c_idx, new_photo_name, ori_photo_name, board_num)
   		VALUES(2, #{new_photo_name}, #{ori_photo_name}, #{mem_no})
   </insert>
   
   <select id="photomem" resultType="member">
   		SELECT new_photo_name FROM wphoto WHERE board_num = #{param1} AND c_idx = 2
   </select>
   
   </mapper>