<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <mapper namespace="kr.co.gf.member.dao.PtMemberDAO">
   
   <insert 
   		useGeneratedKeys="true"
      	keyColumn="dailypt_no"
      	keyProperty="dailypt_no"
   		id="submitdailypt"
   		parameterType="dailypt">
   		
   		insert into daily_pt (dailypt_no, emp_no, mem_no, aerobic,  diet, str, pt_date, af_weight)
   		values(${dailypt_no},${emp_no},#{mem_no},#{aerobic},#{diet},#{str},#{pt_date},#{af_weight})
   
   </insert>
   
   <insert id="writeWeight">
   insert into pt_weight (dailypt_no, pt_name, pt_kg, pt_set) 
   		values(#{param1},#{param2},#{param3},#{param4})
      
   </insert>
   
   
   <select id="dailyptlist" resultType="dailypt">
		SELECT
		    dp.dailypt_no, dp.mem_no, dp.pt_date, dp.emp_no, m.name
		FROM
		    daily_pt dp
		JOIN
		    member m ON dp.mem_no = m.mem_no
		        
	</select>
	
	
	<select id="dailyptwritego" resultType="dailypt" >
		
		SELECT
		    pt.regt_idx, pt.mem_no, m.name
		FROM
		    pt_mem pt
		JOIN
		    registered_ticket r ON pt.mem_no = r.mem_no
		JOIN
		    member m ON m.mem_no = r.mem_no
		WHERE
		    r.emp_no = #{loginId};
	</select>
	
	
	 <select id="weightList" resultType="dailypt">
		SELECT
		    pt_date, pt_kg, pt_set
		FROM
		    pt_weight
		        
	</select>
   
   
   
   </mapper>