<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <mapper namespace="kr.co.gf.board.dao.ReferenceDAO">
   
   <select id="list" resultType="ReferenceDTO">
   		select r.r_idx, e.name, r.subject,r.content,r.`date`, r.emp_no from reference r
			left join emp e 
		on r.emp_no = e.emp_no;
   </select>
   
   <select id="detail" resultType="ReferenceDTO" >
	   	select r.r_idx, r.emp_no, r.subject, r.content, r.`date`, e.name from reference r 
			left join emp e 
			on r.emp_no = e.emp_no  
		where r.r_idx = #{r_idx};
   </select>
   
   <insert 
   		useGeneratedKeys="true"
      	keyColumn="r_idx"
      	keyProperty="board_num"
      	
   		id="write">
   		insert into reference (emp_no,subject,content,date) values(#{emp_no},#{subject},#{content},now())
   </insert>
   
   <delete id="delete" parameterType="String" >
   		delete from reference where r_idx = #{r_idx}
   </delete>
   
   <update id="update" parameterType="hashmap">
   		update reference set 
   			subject = #{subject}
			,content = #{content} 
			WHERE r_idx = #{r_idx}
   </update>
   
   <insert id="fileWrite">
   		insert into wphoto (c_idx,new_photo_name,ori_photo_name,board_num) 
   		values(#{c_idx},#{new_photo_name},#{ori_photo_name},#{board_num})
   </insert>
   
   <select id="selectName" resultType="String">
   		select name from emp where emp_no = #{loginId};
   </select>
   
   <select id="selectFile" resultType="String">
   		select ori_photo_name from wphoto w where w.new_photo_name = #{p_idx};
   </select>
   
   <select id="detailFile" resultType="ReferenceDTO">
   		select * from wphoto w where board_num = #{idx} and c_idx = 4;
   </select>
   
   </mapper>